.detail__box{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.detail__error {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.error_message {
	width: 250px;
}
.app__go-back {
	color: white;
	text-decoration: none;
	text-align: right;
}

.character__detail {
	display: flex;
	margin-top: 10px;
	background-color: rgb(9, 186, 240);
}

.detail__image {
	padding: 20px;
	display: flex;
}

.detail__img {
	width: 100%;
}
.detail__text {
	padding-left: 20px;
	font-size: 16px;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(9, 186, 240);
}

.detail__name {
		font-size: 20px;
		font-weight: bold;
}

.detail__name, .detail__status, .detail__origin, .detail_episodes {
	margin: 5px 0;
}